@use "./styles/partials/fonts" as *;
@use "./styles/partials/resets" as *;
@use "./styles/partials/variables" as *;

.wrapper {
  display: flex;
}

.profile {
  background-color: $background-colour;
}

.sidebar-component {
  width: 20%;
}

.allroutes {
  width: 80%;
}
