@use "./styles/partials/fonts" as *;
@use "./styles/partials/resets" as *;
@use "./styles/partials/variables" as *;

.wrapper {
  display: flex;
}

.main {
  background-color: $background-colour;
  margin-left: 20vw;
  padding: 0 2rem;
}

.sidebar-component {
  width: 20%;
}

.allroutes {
  width: 80%;
}
