.dashboard {
  border-radius: 20px;
  width: 1044px;
  min-height: 700px;
  background-color: #f5f4f5;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__lower-header {
    & h2 {
      margin-top: 10px;
    }
  }
}
.plot-container {
  margin: 20px;
}
.heading {
  display: flex;
  flex-direction: column;
  &__upper {
    display: flex;
    justify-content: space-around;

    &-second-container {
      border-bottom: 4px solid black;
    }
    &-first-container {
      border-bottom: 4px solid black;
    }
  }
}
/* Polygon 4 */
.polygon {
  position: absolute;
  width: 38px;
  height: 27px;
  left: 107px;
  top: 248px;

  background: #da1717;
}

.graph {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__container1 {
    border-radius: 20px;
    width: 568px;
    height: 477px;
    background-color: white;
  }
  &__container2 {
    border-radius: 10px;
    position: relative;
    left: 30px;
    width: 50%;
    width: 269px;
    height: 385px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
      margin: 10px;
    }
  }
}
.data {
  &-month {
    border-bottom: 3px solid black;
  }
}

.advices {
  &__card {
    border: 2px solid #8d99ae;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 17px;
  }
  &__card:hover {
    // border: transparent;
    background-color: #8d99ae;
  }
  &__item {
    display: flex;
  }
  &__left {
    & input {
      position: relative;
      top: 27px;
      right: 13px;
    }
  }
  &__body {
    position: relative;
  }
}
