@use "../../styles/partials/variables" as *;

.dashboardTop {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  &__left {
    display: flex;
    flex-direction: column;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__welcome,
  &__text,
  &__date {
    color: #f5f4f5;
  }

  &__welcome {
    width: 60%;
    font-size: 4.2rem;
  }

  &__text {
    padding-bottom: 2rem;
  }

  &__switcher {
    display: flex;
    width: 19.8rem;
    height: 5.2rem;
    background-color: $secondary-colour;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__value {
    width: 50%;
    height: 3.7rem;
    color: $tertiary-colour;
    margin: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    &--active {
      background-color: $primary-colour;
      border-radius: 20px;
    }
  }

  &__stats {
    display: flex;
    width: 630px;
    height: 78px;
    background-color: $secondary-colour;
    align-items: center;
    border-radius: 20px;
  }

  &__stats-wrapper {
    width: 33.3%;
    text-align: center;
    &--middle {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }

  &__title {
    font-size: 1.4rem;
  }

  &__amount {
    font-size: 2rem;
    font-weight: 500;
    &--green {
      color: green;
    }
  }

  &__provider-wrapper {
    background-color: $primary-colour;
    border-radius: 20px;
    padding: 2rem;
  }

  &__provider-logo {
    width: 90%;
  }
}
